// rules for typography
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* font-size: 16px; val weg door html font size op 62.5% te zetten */
  // color: grey;
  line-height: 1.7;
  padding: 3rem;
}
